.layout2__body {
    align-items: center;
    background: #f3f3f3;
    color: #525453;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.main-content {
    background: #fffdff;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 10rem);
    padding: 6.6rem 1rem;
    width: calc(100% - 2rem);
}
@media (min-width: 1024px) {
    .main-content {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
        height: 19rem;
        min-height: auto;
        padding: 1.45rem;
        width: calc(100% - 2.9rem);
    }
}
