.nav__menu
{
    flex-direction: column;
}
@media (min-width: 1024px)
{
    .nav__menu
    {
        flex-direction: row;
    }
}
/**Класс используется только для задания видимости, других стилей от него не ожидается*/
.nav__menu_visible
{
    display: flex;
}
/**Класс используется только для задания невидимости, других стилей от него не ожидается*/
.nav__menu_hidden
{
    display: none;
}
.nav__btn-open
{
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    right: 1.15rem;
    top: 1.35rem;
}
@media (min-width: 1024px)
{
    .nav__btn-open
    {
        display: none;
    }
}
.nav__item
{
    color: #2a2c2b;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin: 1rem 0 0 0;
    text-decoration: none;
    position: relative;
}
/**Класс используется только для задания видимости, других стилей от него не ожидается*/
.nav__item_visible
{
    display: block;
}
/**Класс используется только для задания невидимости, других стилей от него не ожидается*/
.nav__item_hidden
{
    display: none;
}
.nav__item_main
{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
}
@media (min-width: 1024px)
{
    .nav__item_main
    {
        margin-top: 0;
        margin-right: 1rem;
        margin-bottom: 0;
    }
}
.nav__item_has-children{}
@media (min-width: 1024px)
{
    .nav__item_has-children
    {
        min-height: 1.2rem;
    }
}
.nav__item-header-text
{
    cursor: pointer;
}
.nav__item-header-text_simple {}
@media (min-width: 1024px) {
    .nav__item-header-text_simple:hover {
        color: #0094d3;
    }
}
.nav__item-header-text_bold
{
    font-weight: bold;
}
.nav__item-header-underline-visible {}
@media (min-width: 1024px)
{
    .nav__item-header-underline-visible
    {
        border-bottom: 0.1rem solid #0094d3;
    }
}
.nav__item-children
{
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
/**Класс используется только для задания видимости, других стилей от него не ожидается*/
.nav__item-children_visible
{
    display: flex;
}
/**Класс используется только для задания невидимости, других стилей от него не ожидается*/
.nav__item-children_hidden
{
    display: none;
}
.nav__item-children_main
{
    margin: 0;
}
@media (min-width: 1024px)
{
    .nav__item-children_main
    {
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav__item-children_dropdown
{
    background-color: #ffffff;
    margin: 0 0 0 2.6rem;
}
@media (min-width: 1024px)
{
    .nav__item-children_dropdown
    {
        margin: 0;
        padding: 0.95rem 0.115rem;
    }
}
.nav__item-children-container_main{}
@media (min-width: 1024px)
{
    .nav__item-children-container_main
    {
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        left: 50%;
        min-width: 9.5rem;
        padding: 0 1.2rem 0;
        position: absolute;
        transform: translate(-50%,0);
    }

}
.nav__item-header
{
    display: flex;
    align-items: center;
}
.nav__item-svg
{
    height: 1.6rem;
    width: 1.6rem;
    margin: 0 0.95rem 0 0;
    transform: rotate(-90deg);
}
@media (min-width: 1024px)
{
    .nav__item-svg
    {
        display: none;
    }
}
.nav__item-svg_closed
{
    transform: rotate(90deg);
}
