.layout1__body {
    background: #f3f3f3;
    color: #525453;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
@media (min-width: 1024px) {
    .layout1__body {
        justify-content: center;
    }
}
.main-content {
    background: #f3f5f7;
    display: flex;
    flex-direction: column;
    padding: 2.8rem 1rem 3rem;
}
@media (min-width: 1024px) {
    .main-content {
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        height: 35rem;
        min-height: auto;
        width: calc( 100% - 2rem );
    }
}
