.article_simple
{
    display: flex;
    flex-direction: column;
    color: #525453;
    padding: 0 1rem 0;
    margin-bottom: 3rem;
}
@media (min-width: 1024px) {
    .article_simple
    {
        margin-right: 2rem;
        margin-bottom: 0;
        padding: 0;
        width: calc(50% - 2rem);
        max-width: 28.5rem;
    }
}
.article_simple__header-container
{
    margin: 0 0 1.5rem 0;
}
@media (min-width: 1024px) {
    .article_simple__header-container
    {
        margin: 0 0 2.25rem 0;
    }
}
.article_simple__header-text
{
    color: #2a2c2b;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin: 0;
}
@media (min-width: 1024px) {
    .article_simple__header-text
    {
        font-size: 1.8rem;
    }
}
.article_simple__text-container
{
    line-height: 1.8rem;
    font-size: 0.8rem;
}
@media (min-width: 1024px) {
    .article_simple__text-container
    {
        font-size: 1rem;
    }
}
.article_simple__text-paragraph
{
    margin: 0 0 1.5rem 0;
}
@media (min-width: 1024px) {
    .article_simple__text-paragraph {
        margin: 0 0 2.5rem 0;
    }
}
.article_simple__text-paragraph:last-child
{
    margin: 0;
}
.article_simple__href-container
{
    margin: 0 0 1.5rem 0;
    order: -1;
}
@media (min-width: 1024px) {
    .article_simple__href-container {
        margin: 0 0 2.5rem 0;
    }
}
.article_simple__href{
    color: #2a2c2b;
    font-size: 0.8rem;
    font-weight: bold;
}
/**====================================================*/
.services-section-container{}
@media (min-width: 1024px) {
    .services-section-container {
        max-width: 34.5rem;
        width: 50%;
    }
}
.services-section {}
@media (min-width: 1024px) {
    .services-section {
        width: 100%;
    }
}
/**====================================================*/
.service-container
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    padding: 1rem;
}
@media (min-width: 1024px) {
    .service-container
    {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 0.5rem;
        width: calc(100% - 1rem);
    }
}
.service-container__description
{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.service-container__header-container
{
    flex-basis: 100%;
}
@media (min-width: 1024px) {
    .service-container__header-container
    {
        flex-basis: auto;
        margin-right: 1rem;
        width: calc( 65% - 6rem );
    }
}
.service-container__header
{
    color: #2a2c2b;
    font-size: 1rem;
    margin: 0;
}
.service-container__icons-container
{
    display: flex;
}
@media (min-width: 1024px) {
    .service-container__icons-container
    {
        order: -1;
        width: 5rem;
    }
}
.service-container__icon-container_big
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1rem 0 0;
    height: 3rem;
    width: 3rem;
}
@media (min-width: 1024px) {
    .service-container__icon-container_big
    {
        height: 4rem;
        width: 4rem;
    }
}
.service-container__icon-container_big svg
{
    height: auto;
    width: auto;
    max-height: 2.4rem;
    max-width: 2.4rem;
}
@media (min-width: 1024px) {
    .service-container__icon-container_big svg
    {
        max-height: 3.8rem;
        max-width: 3.8rem;
    }
}
.service-container__actions
{
    display: flex;
    flex-direction: column;
}
@media (min-width: 1024px) {
    .service-container__actions {
        width: 35%;
    }
}
@media (min-width: 1024px) {
    .service-container__actions .figure-mini {
        margin: 0 0 0.55rem 0;
    }
}
.services__all-show
{
    align-items: center;
    justify-content: center;
    background-color: #2a2c2b;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 3.4rem;
    width: 100%;
}
/**====================================================*/
