.main-content__container
{
    display: flex;
    flex-direction: column;
}
@media (min-width: 1024px) {
    .main-content__container {
        flex-direction: row;
        justify-content: space-around;
    }
}
.article_simple
{
    display: flex;
    flex-direction: column;
    color: #525453;
    padding: 0 1rem 0;
    margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
    .article_simple
    {
        margin-right: 2rem;
        margin-bottom: 0;
        padding: 0;
        max-width: 28.5rem;
    }
}
.article_simple__header-container
{
    margin: 0 0 1.5rem 0;
}
@media (min-width: 1024px) {
    .article_simple__header-container
    {
        margin: 0 0 2.25rem 0;
    }
}
.article_simple__header-text
{
    color: #2a2c2b;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin: 0;
}
@media (min-width: 1024px) {
    .article_simple__header-text
    {
        font-size: 1.8rem;
    }
}
.article_simple__text-container
{
    line-height: 1.8rem;
    font-size: 0.8rem;
}
@media (min-width: 1024px) {
    .article_simple__text-container
    {
        font-size: 1rem;
    }
}
.article_simple__text-paragraph
{
    margin: 0 0 1.5rem 0;
}
@media (min-width: 1024px) {
    .article_simple__text-paragraph {
        margin: 0 0 2.5rem 0;
    }
}
.article_simple__href-container
{
    margin: 0 0 1.5rem 0;
    order: -1;
}
@media (min-width: 1024px) {
    .article_simple__href-container {
        margin: 0 0 2.5rem 0;
    }
}
.article_simple__href{
    color: #2a2c2b;
    font-size: 0.8rem;
    font-weight: bold;
}
/**====================================================*/
.service-container
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-bottom: 0.5rem;
    padding: 1rem;
}
@media (min-width: 1024px) {
    .service-container
    {
        align-items: center;
        flex-wrap: nowrap;
        padding: 0.5rem;
    }
}
.service-container__description
{
    font-size: 0.8rem;
    margin: 0.5rem 0;
}
.service-container__header-container
{
    flex-basis: 100%;
}
@media (min-width: 1024px) {
    .service-container__header-container
    {
        flex-basis: auto;
    }
}
.service-container__header
{
    color: #2a2c2b;
    font-size: 1rem;
    margin: 0;
}
.service-container__icons-container
{
    display: flex;
}
@media (min-width: 1024px) {
    .service-container__icons-container
    {
        order: -1;
    }
}
.service-container__icon-container_big
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 1rem 0 0;
    height: 3rem;
    width: 3rem;
}
@media (min-width: 1024px) {
    .service-container__icon-container_big
    {
        height: 4rem;
        width: 4rem;
    }
}
.service-container__icon-container_big svg
{
    height: auto;
    width: auto;
    max-height: 2.4rem;
    max-width: 2.4rem;
}
@media (min-width: 1024px) {
    .service-container__icon-container_big svg
    {
        max-height: 3.8rem;
        max-width: 3.8rem;
    }
}
.service-container__actions
{
    display: flex;
    flex-direction: column;
}
@media (min-width: 1024px) {
    .service-container .figure-mini:first-child {
        margin: 0 1rem 0 1rem;
    }
    .service-container .figure-mini {
        margin: 1rem 1rem 0 1rem;
    }
}
.services__all-show
{
    align-items: center;
    justify-content: center;
    background-color: #2a2c2b;
    color: #ffffff;
    display: flex;
    font-weight: bold;
    height: 3.4rem;
    width: 100%;
}
/**====================================================*/
