.main-content__section-left
{
    display: none;
}
@media (min-width: 1024px)
{
    .main-content__section-left
    {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.main-content__section-right
{
    display: flex;
}
@media (min-width: 1024px)
{
    .main-content__section-right
    {
        margin-left: 2rem;
    }
}
.main-content__elements_right
{
    margin-top: 0.65rem;
}
/**====================================================*/
.navigation {}
@media (min-width: 1024px)
{
    .navigation
    {
        display: flex;
        align-items: center;
        margin-left: 2rem;
    }
}
/**====================================================*/
.logo
{
    display: none;
}
@media (min-width: 1024px)
{
    .logo
    {
        display: flex;
        align-items: center;
    }
}
.logo__image-container
{
    height: 2.2rem;
    width: 1.95rem;
}
.logo__text-container
{
    height: 0.85rem;
    width: 6.65rem;
    margin: 0 0 0 1rem;
}
/**====================================================*/
.communications
{
    display: flex;
}
/*@media (min-width: 1024px)*/
/*{*/
/*    .communications*/
/*    {*/
/*        display: flex;*/
/*    }*/
/*}*/
.communications__facebook
{
    height: 1.2rem;
    width: 1.2rem;
}
/**====================================================*/
